.profile__update {
  margin-top: 220px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  color: #000000;

  border: none;
  cursor: pointer;
  background: transparent;
}

.profile__update:hover {
  opacity: .6;
}
