.header__menu-btn {
  display: none;
  background: url(../../../images/menu-icon.png) no-repeat;
  width: 44px;
  height: 44px;
  border: none;
  padding: 0;
}

@media (max-width: 768px) {
  .header__menu-btn {
    display: block;
  }
}
