.movies-card-list__more-btn {
  width: 320px;
  height: 36px;

  align-self: center;

  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #E8E8E8;
  margin: 50px 0 80px 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;

  cursor: pointer;
}

.movies-card-list__more-btn:hover {
  opacity: .6;
}
