.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.3);

  z-index: 2;
}
