.header__films-btn {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  margin-right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.header__films-btn:hover {
  opacity: .6;
}
