.header__acc-btn {
  background: url(../../../images/acc-btn.png) no-repeat;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__acc-btn:hover {
  opacity: .6;
}

@media (max-width: 768px) {
  .header__acc-btn {
    display: none;
  }
}
